.banner {
    position: relative;
    padding-inline: 2rem;
    background-image: url("https://unsplash.it/1920/1080");
    background-size:  cover;
    background-position: center;
    min-height: 140px;
    max-width: 100%;
    margin: auto;
    border-radius: 2rem;
    display: grid;
    place-items: center;
    color: white;
}
.banner::before {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: 2rem;
    opacity: 0.95;
}

