.navbar {
    display: flex;
    align-items: center;
    color: #ff6060;
    padding: 0 2 rem;
    font-weight: 700;
    gap: 2rem;
}

.navbar a {
    text-decoration: none;
    color: #ff6060;
}

.navbar a:hover{
    text-decoration: overline;

}
.navbar a.active{
    text-decoration: overline;
}
.navbar > *:first-child {
    margin-right: auto;
}

